*, *::before, *::after {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0; }

h1, h2, h3 {
  margin: 0; }

p {
  margin: 0; }

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

button {
  padding: 0;
  background: none;
  border: none; }

svg {
  vertical-align: top; }

.ButtonPrimary {
  font-size: 14px;
  line-height: 1.83;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 180px;
  padding: 10px;
  text-decoration: none;
  background-color: #19d374;
  color: #fff;
  box-shadow: 0 4px 0 rgba(68, 92, 105, 0.2);
  font-weight: 900; }
  @media (min-width: 768px) {
    .ButtonPrimary {
      font-size: 16px;
      line-height: 1.625; } }
  .ButtonPrimary:hover {
    background-color: #14a55b;
    color: #fff; }

.ButtonPrimary.ButtonPrimary--versionOne {
  background-color: #f8e02d;
  color: #445c69; }
  .ButtonPrimary.ButtonPrimary--versionOne:hover {
    background-color: #eacf08;
    color: #445c69; }

.ButtonPrimary.ButtonPrimary--versionTwo {
  background-color: #f06f2a;
  color: #fff; }
  .ButtonPrimary.ButtonPrimary--versionTwo:hover {
    background-color: #d8550f;
    color: #fff; }

.ButtonPrimary.ButtonPrimary--versionThree {
  background-color: #2aa7f0;
  color: #fff; }
  .ButtonPrimary.ButtonPrimary--versionThree:hover {
    background-color: #0f8ed8;
    color: #fff; }

.ButtonPrimary.ButtonPrimary--versionFour {
  background-color: #fff;
  color: #445c69; }
  .ButtonPrimary.ButtonPrimary--versionFour:hover {
    background-color: #e6e6e6;
    color: #445c69; }

@media (min-width: 768px) {
  .ButtonPrimary {
    max-width: 200px; } }

@media (max-width: 767px) {
  .ButtonPrimary.ButtonPrimary--mobileCentered {
    margin: auto; } }

.Container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

.Container-column {
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 480px;
  padding: 0 25px; }

.Container.Container--twoColumn .Container-column + .Container-column {
  margin-top: 25px; }

.Container.Container--verticallyCentered .Container-column {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (min-width: 768px) {
  .Container.Container--swapOnDesktop .Container-column {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .Container.Container--swapOnDesktop .Container-column + .Container-column {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; } }

.Container.Container--fullWidth .Container-column {
  max-width: initial; }

@media (min-width: 768px) {
  .Container.Container--twoColumn .Container-column {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .Container.Container--twoColumn .Container-column + .Container-column {
    margin-top: 0; } }

@media (min-width: 1024px) {
  .Container-column {
    padding: 0 10px; } }

.ContentFormatter {
  width: 100%;
  text-align: left; }

.ContentFormatter.ContentFormatter--center {
  text-align: center; }

.ContentFormatter.ContentFormatter--centerThenAlignLeft {
  text-align: center; }

@media (min-width: 768px) {
  .ContentFormatter {
    text-align: center; }
  .ContentFormatter.ContentFormatter--centerThenAlignLeft {
    text-align: left; } }

.ContentFormatter.ContentFormatter--centerThenAlignRight {
  text-align: center; }

.ContentFormatter.ContentFormatter--centerThenAlignRight {
  text-align: center; }

@media (min-width: 768px) {
  .ContentFormatter {
    text-align: center; }
  .ContentFormatter.ContentFormatter--centerThenAlignRight {
    text-align: right; } }

.Footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.Footer-actions {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 25px 25px 50px;
  background-color: #445c69; }

.Footer-contacts {
  position: relative;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 100px 25px 25px;
  background-color: #f8e02d; }
  .Footer-contacts:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 31.25%;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    top: 0;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="320" height="100" viewBox="0 0 320 100" version="1.1"><polygon points="0,0 0,100 320,0" style="fill:rgb(68, 92, 105);"></polygon></svg>');
    content: ''; }

.Footer-heading {
  font-size: 14px;
  line-height: 1.83;
  color: #445c69;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .Footer-heading {
      font-size: 16px;
      line-height: 1.625; } }

.Footer-highlighted {
  font-weight: 900; }

.Footer-text {
  font-size: 14px;
  line-height: 1.83;
  color: #445c69; }
  @media (min-width: 768px) {
    .Footer-text {
      font-size: 16px;
      line-height: 1.625; } }

.Footer-by {
  margin-top: 25px; }

.Footer-navLinkGroup {
  display: none; }

.Footer-navItem {
  margin-top: 25px; }

@media (min-width: 850px) {
  .Footer {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .Footer-actions {
    -webkit-flex: 1 0 45%;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: initial;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px; }
  .Footer-contacts {
    position: relative;
    -webkit-flex: 1 0 55%;
        -ms-flex: 1 0 55%;
            flex: 1 0 55%;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: initial;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px; }
    .Footer-contacts:before {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: 0 0px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      pointer-events: none;
      top: 0;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="30" height="30" viewBox="0 0 30 30" version="1.1"><polygon points="0,0 0,30 30,0" style="fill:rgb(68, 92, 105);"></polygon></svg>');
      content: ''; }
  .Footer-nav {
    margin-top: -25px;
    margin-left: 50px; }
  .Footer-navLinkGroup {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

.Heading {
  font-size: 20px;
  line-height: 1.55;
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;
  color: #2aa7f0; }
  @media (min-width: 768px) {
    .Heading {
      font-size: 22px;
      line-height: 1.45; } }

.Heading.Heading--small {
  font-size: 14px;
  line-height: 1.83;
  color: #445c69; }
  @media (min-width: 768px) {
    .Heading.Heading--small {
      font-size: 16px;
      line-height: 1.625; } }

.Heading.Heading--inverted {
  color: #fff; }

.Heading.Heading--uvp {
  text-transform: none; }

.Layout {
  width: 100%; }

.Layout-smallMargin {
  padding-bottom: 25px; }

.Layout-defaultMargin {
  padding-bottom: 50px; }

.Layout-noneThenSmallMargin {
  padding-bottom: 0; }
  @media (min-width: 768px) {
    .Layout-noneThenSmallMargin {
      padding-bottom: 25px; } }

.Layout-noneThenDefaultMargin {
  padding-bottom: 0; }
  @media (min-width: 768px) {
    .Layout-noneThenDefaultMargin {
      padding-bottom: 50px; } }

.Layout-smallThenDefaultMargin {
  padding-bottom: 25px; }
  @media (min-width: 768px) {
    .Layout-smallThenDefaultMargin {
      padding-bottom: 50px; } }

.Layout-smallThenLargeMargin {
  padding-bottom: 25px; }
  @media (min-width: 768px) {
    .Layout-smallThenLargeMargin {
      padding-bottom: 100px; } }

.Layout-defaultThenLargeMargin {
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .Layout-defaultThenLargeMargin {
      padding-bottom: 100px; } }

.Layout-desktopOnly {
  display: none; }
  @media (min-width: 768px) {
    .Layout-desktopOnly {
      display: block; } }

.Layout.Layout--pairs .Layout-image {
  z-index: 5;
  width: 100%;
  margin-bottom: -80px;
  text-align: center; }
  @media (min-width: 768px) {
    .Layout.Layout--pairs .Layout-image {
      margin-top: 80px;
      margin-bottom: -55px; } }
  @media (min-width: 828px) {
    .Layout.Layout--pairs .Layout-image {
      margin-top: 50px;
      margin-bottom: -80px; } }
  @media (min-width: 950px) {
    .Layout.Layout--pairs .Layout-image {
      margin-top: 25px; } }
.Layout.Layout--pairs .Layout-text {
  padding-bottom: 25px; }
  @media (min-width: 828px) {
    .Layout.Layout--pairs .Layout-text {
      padding-bottom: 50px; } }
  @media (min-width: 1024px) {
    .Layout.Layout--pairs .Layout-text {
      padding-bottom: 100px; } }

.Layout.Layout--fullHeight {
  height: 100%; }

.Link {
  font-size: 14px;
  line-height: 1.83;
  display: inline-block;
  color: #f06f2a;
  text-decoration: none;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .Link {
      font-size: 16px;
      line-height: 1.625; } }
  .Link:hover {
    text-decoration: underline; }

.Link.Link--inverted {
  color: #fff; }

.Link.Link--text {
  color: #445c69; }

.Link.Link--nav {
  font-size: 16px; }

.Link.Link--lowercase {
  text-transform: none; }

.List {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.List-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.List-item + .List-item {
  margin-left: 50px; }

.List.List--stacked {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .List.List--stacked .List-item + .List-item {
    margin: 50px 0 0; }

.Person {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.Person-avatar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.Person-bio {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase; }

.Person-separator {
  display: inline-block;
  width: 25px;
  margin: 5px 0;
  border: 2px solid #f8e02d;
  border-top: 0; }

.Person-picture {
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 12.5px; }

.Person-highlightText {
  display: inline;
  font-weight: 900; }

.Person-areaShape {
  display: none;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #bec6d3; }

.Person-area {
  color: #bec6d3;
  font-weight: 900; }

.Person.Person--design .Person-areaShape {
  border-bottom-color: #19d374; }
.Person.Person--design .Person-area {
  color: #19d374; }

.Person.Person--development .Person-areaShape {
  border-bottom-color: #2aa7f0; }
.Person.Person--development .Person-area {
  color: #2aa7f0; }

.Person.Person--management .Person-areaShape {
  border-bottom-color: #f06f2a; }
.Person.Person--management .Person-area {
  color: #f06f2a; }

@media (min-width: 768px) {
  .Person {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .Person-picture {
    width: 120px;
    height: 120px; }
  .Person-separator {
    width: 40px;
    margin: 25px 0;
    border-width: 4px; }
  .Person-areaShape {
    display: block; }
  .Person-bio {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 25px; } }

.PersonList {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: -25px; }

.PersonList-item {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px; }

.PersonList-item:last-child {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

@media (min-width: 290px) {
  .PersonList {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

@media (min-width: 530px) {
  .PersonList-item {
    -webkit-flex-basis: 33%;
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%; } }

@media (min-width: 768px) {
  .PersonList-item {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    margin-top: 50px; } }

@media (min-width: 925px) {
  .PersonList-item {
    -webkit-flex-basis: 33%;
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%; } }

.Quote {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.Quote-content {
  font-size: 20px;
  line-height: 1.55;
  color: #f06f2a; }
  @media (min-width: 768px) {
    .Quote-content {
      font-size: 22px;
      line-height: 1.45; } }

.Quote-hightlight {
  font-weight: 900; }

.Quote-author {
  font-weight: 900;
  text-transform: uppercase;
  color: #bec6d3; }

.Quote-description {
  color: #bec6d3;
  font-weight: 300; }

@media (min-width: 768px) {
  .Quote {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; } }

.RatioEnforcer {
  width: 100%;
  max-width: 100%;
  max-height: 100%; }

.RatioEnforcer.RatioEnforcer--diamondStats {
  max-width: 319px; }

.RatioEnforcer.RatioEnforcer--subvisualLogo {
  max-width: 58px;
  max-height: 84px; }

.RatioEnforcer.RatioEnforcer--blipLogo {
  max-width: 116px; }

.RatioEnforcer.RatioEnforcer--otherLogo {
  max-width: 93px; }

.RatioEnforcer.RatioEnforcer--batmanRobin {
  max-width: 281px; }
  @media (min-width: 768px) {
    .RatioEnforcer.RatioEnforcer--batmanRobin {
      max-width: 421px; } }

.RibbonSeparator {
  margin-bottom: 50px; }
  @media (min-width: 600px) {
    .RibbonSeparator {
      margin-bottom: 0; } }
  @media (min-width: 1024px) {
    .RibbonSeparator {
      margin-bottom: -5%; } }
  @media (min-width: 1280px) {
    .RibbonSeparator {
      margin-bottom: -7%; } }

.RibbonSeparator.RibbonSeparator--inverted {
  margin-top: 50px;
  margin-bottom: 0; }
  @media (min-width: 600px) {
    .RibbonSeparator.RibbonSeparator--inverted {
      margin-top: 0;
      margin-bottom: 0; } }
  @media (min-width: 1024px) {
    .RibbonSeparator.RibbonSeparator--inverted {
      margin-top: -5%;
      margin-bottom: 0; } }
  @media (min-width: 1280px) {
    .RibbonSeparator.RibbonSeparator--inverted {
      margin-top: -7%;
      margin-bottom: 0; } }

.Separator {
  display: inline-block;
  width: 40px;
  margin: 25px 0;
  border: 4px solid #f8e02d;
  border-top: 0; }

.Skill {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.Skill-image {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60px;
  margin-right: 25px;
  margin-left: 25px; }

.Skill-legend {
  color: #bec6d3;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1.5px;
  line-height: 1.37;
  text-transform: uppercase; }

.Stripe {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  overflow: hidden; }

.Stripe.Stripe--orange {
  background-color: #f06f2a;
  position: relative; }
  .Stripe.Stripe--orange:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 9.375%;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    top: 0;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="320" height="30" viewBox="0 0 320 30" version="1.1"><polygon points="0,0 0,30 320,0" style="fill:rgb(255, 255, 255);"></polygon></svg>');
    content: ''; }
  .Stripe.Stripe--orange:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 9.375%;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    bottom: 0;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="320" height="30" viewBox="0 0 320 30" version="1.1"><polygon points="0,30 320,30 320,0" style="fill:rgb(255, 255, 255);"></polygon></svg>');
    content: '';
    z-index: 6; }

.Stripe.Stripe--green {
  padding: 50px 0 0;
  background-color: #19d374;
  position: relative; }
  .Stripe.Stripe--green:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 9.375%;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    top: 0;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="320" height="30" viewBox="0 0 320 30" version="1.1"><polygon points="0,0 320,0 320,30" style="fill:rgb(255, 255, 255);"></polygon></svg>');
    content: ''; }
  .Stripe.Stripe--green:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 9.375%;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    bottom: 0;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="320" height="30" viewBox="0 0 320 30" version="1.1"><polygon points="0,0 0,30 320,30" style="fill:rgb(255, 255, 255);"></polygon></svg>');
    content: '';
    z-index: 6; }
  @media (min-width: 768px) {
    .Stripe.Stripe--green {
      padding: 100px 0 0;
      position: relative;
      position: relative; }
      .Stripe.Stripe--green:before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 34.722%;
        background-position: 0 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
        top: 0;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="1440" height="500" viewBox="0 0 1440 500" version="1.1"><polygon points="0,0 0,500 1440,0" style="fill:rgb(255, 255, 255);"></polygon></svg>');
        content: ''; }
      .Stripe.Stripe--green:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 20.833%;
        background-position: 0 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
        bottom: 0;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="1440" height="300" viewBox="0 0 1440 300" version="1.1"><polygon points="0,0 0,300 1440,300" style="fill:rgb(255, 255, 255);"></polygon></svg>');
        content: '';
        z-index: 6; } }

.Stripe.Stripe--blue {
  background-color: #2aa7f0;
  position: relative; }
  .Stripe.Stripe--blue:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 9.375%;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    top: 0;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="320" height="30" viewBox="0 0 320 30" version="1.1"><polygon points="0,0 0,30 320,0" style="fill:rgb(255, 255, 255);"></polygon></svg>');
    content: ''; }
  .Stripe.Stripe--blue:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 9.375%;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    bottom: 0;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="320" height="30" viewBox="0 0 320 30" version="1.1"><polygon points="0,30 320,30 320,0" style="fill:rgb(255, 255, 255);"></polygon></svg>');
    content: '';
    z-index: 6; }
  @media (min-width: 768px) {
    .Stripe.Stripe--blue {
      position: relative;
      position: relative; }
      .Stripe.Stripe--blue:before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 34.722%;
        background-position: 0 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
        top: 0;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="1440" height="500" viewBox="0 0 1440 500" version="1.1"><polygon points="0,0 0,500 1440,0" style="fill:rgb(255, 255, 255);"></polygon></svg>');
        content: ''; }
      .Stripe.Stripe--blue:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 20.833%;
        background-position: 0 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
        bottom: 0;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="1440" height="300" viewBox="0 0 1440 300" version="1.1"><polygon points="0,0 0,300 1440,300" style="fill:rgb(255, 255, 255);"></polygon></svg>');
        content: '';
        z-index: 6; } }

.Stripe.Stripe--yellow {
  background-color: #f8e02d;
  position: relative; }
  .Stripe.Stripe--yellow:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 9.375%;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    top: 0;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="320" height="30" viewBox="0 0 320 30" version="1.1"><polygon points="0,0 320,0 320,30" style="fill:rgb(255, 255, 255);"></polygon></svg>');
    content: ''; }
  .Stripe.Stripe--yellow:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 9.375%;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    bottom: 0;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="320" height="30" viewBox="0 0 320 30" version="1.1"><polygon points="0,0 0,30 320,30" style="fill:rgb(255, 255, 255);"></polygon></svg>');
    content: '';
    z-index: 6; }
  @media (min-width: 768px) {
    .Stripe.Stripe--yellow {
      position: relative;
      position: relative; }
      .Stripe.Stripe--yellow:before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 34.722%;
        background-position: 0 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
        top: 0;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="1440" height="500" viewBox="0 0 1440 500" version="1.1"><polygon points="0,0 1440,0 1440,500" style="fill:rgb(255, 255, 255);"></polygon></svg>');
        content: ''; }
      .Stripe.Stripe--yellow:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 20.833%;
        background-position: 0 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
        bottom: 0;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="1440" height="300" viewBox="0 0 1440 300" version="1.1"><polygon points="0,300 1440,300 1440,0" style="fill:rgb(255, 255, 255);"></polygon></svg>');
        content: '';
        z-index: 6; } }

@media (min-width: 768px) {
  .Stripe {
    padding: 100px 0; }
  .Stripe.Stripe--mobileOnly {
    display: none; } }

.Text {
  font-size: 14px;
  line-height: 1.83;
  color: #627087;
  font-weight: 300; }
  @media (min-width: 768px) {
    .Text {
      font-size: 16px;
      line-height: 1.625; } }

.Text.Text--inverted {
  color: #fff; }

.Text.Text--large {
  font-size: 20px;
  line-height: 1.55;
  font-weight: 900; }
  @media (min-width: 768px) {
    .Text.Text--large {
      font-size: 22px;
      line-height: 1.45; } }

.Text.Text--veryLarge {
  font-size: 30px;
  line-height: 1.55; }
  @media (min-width: 768px) {
    .Text.Text--veryLarge {
      font-size: 34px;
      line-height: 1.55; } }

.Text.Text--small {
  font-size: 10px;
  line-height: 1.625; }
  @media (min-width: 768px) {
    .Text.Text--small {
      font-size: 10px;
      line-height: 1.625; } }

.Theme {
  font-size: 14px;
  line-height: 1.83;
  background-color: #fff;
  color: #627087;
  font-family: "lato", sans-serif;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (min-width: 768px) {
    .Theme {
      font-size: 16px;
      line-height: 1.625; } }

.Nav {
  position: fixed;
  z-index: 7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  width: 100%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 30px;
  transition: all 0.3s; }

.Nav-logo {
  opacity: 0;
  transition: opacity 0.3s; }

.Nav--open {
  height: 100%; }

.Nav.Nav--scrolled, .Nav.Nav--open {
  background-color: white; }
  .Nav.Nav--scrolled .Nav-logo, .Nav.Nav--open .Nav-logo {
    opacity: 1; }

.Nav.Nav--scrolled:not(.Nav--open) {
  box-shadow: 0 2px 0 rgba(50, 50, 50, 0.2); }

@media (max-width: 859px) {
  .Nav-menu {
    display: none;
    width: 100%;
    margin-top: 50px; } }

@media (min-width: 860px) {
  .Nav-mobileBurger {
    display: none; }
  .Nav-menu {
    display: block;
    height: 100%; } }

.Scene {
  width: 100%;
  min-height: 85rem;
  background-image: url(../img/header.abc1.svg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ccedf2; }

.Logo {
  width: 150px; }

.Logo.Logo--nav {
  width: 50px;
  vertical-align: bottom; }

.Logo.Logo--footer {
  width: 97px; }

/** Dangerous math ahead. Touch with care */
.BurgerBtn {
  pointer-events: all;
  position: relative;
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.95;
  margin-left: 80px;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .BurgerBtn:before {
    height: 30px;
    line-height: 30px;
    text-align: right;
    text-transform: uppercase; }

.Nav--scrolled .BurgerBtn:before, .Nav--alwaysOpaque .BurgerBtn:before {
  content: '';
  display: block;
  width: 80px;
  margin-left: -80px; }

.Nav--open .BurgerBtn:before {
  display: block;
  width: 200px;
  margin-left: -210px; }

.BurgerBtn-line {
  position: absolute;
  display: block;
  left: 0px;
  height: 3px;
  width: 30px;
  background-color: #445c69;
  transition: all 0.3s; }
  .BurgerBtn-line:nth-child(1) {
    top: 3px; }
  .BurgerBtn-line:nth-child(2) {
    top: 15px; }
  .BurgerBtn-line:nth-child(3) {
    top: 27px; }

.BurgerBtn--open {
  background-color: transparent; }
  .BurgerBtn--open:before {
    opacity: 1; }
  .BurgerBtn--open .BurgerBtn-line:nth-child(1) {
    transition: all 0.3s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 15px; }
  .BurgerBtn--open .BurgerBtn-line:nth-child(2) {
    opacity: 0; }
  .BurgerBtn--open .BurgerBtn-line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 15px; }

@media (max-width: 859px) {
  .MenuItems {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .MenuItems-item {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    text-align: center; }
  .MenuItems-item:not(:last-child):after {
    content: '';
    background-color: #b9d6db;
    width: 70px;
    height: 2px;
    margin: 25px auto;
    display: block; } }

@media (min-width: 860px) {
  .MenuItems {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: auto; }
  .MenuItems-item {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .MenuItems-item:not(:last-child) {
    margin-right: 30px; } }

.VisuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.Anchor {
  padding-top: 74px;
  margin-top: -74px; }

.Price {
  font-size: 34px; }

.Price-vat {
  font-size: 12px; }

.Bullets {
  list-style-position: outside;
  list-style-type: initial; }
