<!DOCTYPE html>
<html class="Theme">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Creators School - Curso intensivo de programação para a Web">
    <meta property="og:title" content="Creators School">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://creatorsschool.com">
    <meta property="og:image" content="http://creatorsschool.com/facebook-banner.png">
    <meta property="og:description" content="Curso intensivo de programação para a Web">
    <meta property="fb:admins" content="100000633932565">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="icon" href="favicon.ico" sizes="32x32" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" sizes="16x16" type="image/x-icon" />

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ content }}

    {% include scripts.html %}

  </body>
</html>
