// Container
//
// Container for each section of content.
// Limits whole page content to a max width.
// Allows to layout its content into one or two columns.
// Each column limits its own content to a max width as well.
//
// default - One column layout; Centers content
// .Container--twoColumn - Two column layout; Centers content in each column for small resolutions; Aligns content to the left in each column for large resolutions
// .Container--swapOnDesktop - Swaps the second column to the first position
// .Container--verticallyCentered - Centers vertically both columns' content
//
// markup:
// <div class="Container">
//   <div class="Container-column">Content</div>
// </div>
// <div class="Container Container--twoColumn">
//   <div class="Container-column">Content 1</div>
//   <div class="Container-column">Content 2</div>
// </div>
//
// Styleguide 1.2

@import '../reset';
@import '../theme_vars';

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.Container-column {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  padding: 0 $Theme-spacing-small;
}

.Container.Container--twoColumn {
  .Container-column + .Container-column {
    margin-top: $Theme-spacing-small;
  }
}

.Container.Container--verticallyCentered {
  .Container-column {
    justify-content: center;
  }
}

.Container.Container--swapOnDesktop {
  @include media(">=tablet") {
    .Container-column {
      order: 2;
    }

    .Container-column + .Container-column {
      order: 1;
    }
  }
}

@include media(">=tablet") {
  .Container.Container--twoColumn {
    .Container-column {
      flex: 1 0 50%;
      align-items: flex-start;
    }

    .Container-column + .Container-column {
      margin-top: 0;
    }
  }
}

@include media(">=desktop") {
  .Container-column {
    padding: 0 $Theme-spacing-xSmall;
  }
}
