// Heading
//
// Styles heading's font and color properties.
//
// default - Most commonly used heading
// .Heading--small - Smaller font
// .Heading--inverted - Uses a different color for use in different background colors
//
// markup:
// <div class="Heading {$modifiers}">
//   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
// </div>
//
// Styleguide 2.9

@import '../reset';
@import '../theme_vars';

.Heading {
  @include font-properties(large);
  @include headingCommonStyles;
  width: 100%;
  color: $Theme-color-pictonBlue;
}

.Heading.Heading--small {
  @include font-properties(base);
  color: $Theme-color-fiord;
}

.Heading.Heading--inverted {
  color: $Theme-color-white;
}

.Heading.Heading--large {
  @include font-properties(veryLarge);
  text-transform: none;
}

.Heading.Heading--alternative {
  color: $Theme-color-tango
}
