// Layout
//
// Distributes its descendants in different screen resolutions
//
// Styleguide 1.8

@import '../reset';
@import '../theme_vars';

.Layout {
  width: 100%;
}

.Layout-smallMargin {
  padding-bottom: $Theme-spacing-small;
}

.Layout-defaultMargin {
  padding-bottom: $Theme-spacing-default;
}

.Layout-noneThenSmallMargin {
  padding-bottom: 0;

  @include media(">=tablet") {
    padding-bottom: $Theme-spacing-small;
  }
}

.Layout-noneThenDefaultMargin {
  padding-bottom: 0;

  @include media(">=tablet") {
    padding-bottom: $Theme-spacing-default;
  }
}

.Layout-smallThenDefaultMargin {
  padding-bottom: $Theme-spacing-small;

  @include media(">=tablet") {
    padding-bottom: $Theme-spacing-default;
  }
}

.Layout-smallThenLargeMargin {
  padding-bottom: $Theme-spacing-small;

  @include media(">=tablet") {
    padding-bottom: $Theme-spacing-large;
  }
}

.Layout-defaultThenLargeMargin {
  padding-bottom: $Theme-spacing-default;

  @include media(">=tablet") {
    padding-bottom: $Theme-spacing-large;
  }
}

.Layout-defaultThenLargeMarginWithHeader {
  padding-bottom: calc(#{$Theme-spacing-small} + #{$Theme-navbar-height});

  @include media(">=tablet") {
    padding-bottom: calc(#{$Theme-spacing-default} + #{$Theme-navbar-height});
  }
}

.Layout-desktopOnly {
  display: none;

  @include media(">=tablet") {
    display: block;
  }
}

.Layout.Layout--pairs {
  .Layout-image {
    z-index: $Theme-layer-images; // Not sure how to manage this coupling between layers of different components
    width: 100%;
    margin-bottom: -125px;
    text-align: center;

    @include media(">=450px") {
      margin-bottom: -135px;
    }

    @include media(">=tablet") {
      margin-top: 70px;
      margin-bottom: -200px;
    }

    @include media(">=785px") {
      margin-top: 35px;
    }

    @include media(">=805px") {
      margin-top: 30px;
    }

    @include media(">=850px") {
      margin-top: 20px;
    }

    @include media(">=875px") {
      margin-top: 10px;
    }

    @include media(">=912px") {
      margin-top: 0;
      margin-bottom: -155px;
    }

    @include media(">=desktop") {
      margin-bottom: -140px;
    }

    @include media(">=1400px") {
      margin-bottom: -150px;
    }
  }

  .Layout-text {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: $Theme-spacing-small;

    @include media(">=tablet") {
      padding-top: 0;
    }
  }
}
