// Link
//
// Link style
//
// default - Default link
// .Link--inverted - To be used in different backgrounds
// .Link--text - To be used within text content
//
// markup:
// <div class="Link {$modifiers}">Lorem Ipsum</div>
//
// Styleguide 1.18

@import '../reset';
@import '../theme_vars';

$Link-color-default: $Theme-color-tango;
$Link-color-inverted: $Theme-color-white;
$Link-color-text: $Theme-color-fiord;

.Link {
  @include font-properties(base);
  display: inline-block;
  color: $Link-color-default;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }
}

.Link.Link--inverted {
  color: $Link-color-inverted;
}

.Link.Link--text {
  color: $Link-color-text;
}

.Link.Link--lowercase {
  text-transform: none;
}
