// List
//
// Stacks items. In row or column directions
//
// default - Row direction
// .List--stacked - Column direction
// .List--stacked.List--centered - Column direction and content is centered
// .List--small - Smaller margins
// .List--partnerLogos - Stacked in mobile and horizontal in desktop; Aligns vertically its items to the bottom
//
// markup:
// <div class="List {$modifiers}">
//   <div class="List-item">Lorem Ipsum</div>
//   <div class="List-item">is simply dummy</div>
// </div>
//
// Styleguide 1.13

@import '../reset';
@import '../theme_vars';

.List {
  display: flex;
  width: 100%;
}

.List-item {
  display: flex;
  align-items: flex-start;

  margin: 0;
}

.List-item + .List-item {
  margin-left: $Theme-spacing-default;
}

.List.List--stacked {
  flex-direction: column;

  .List-item + .List-item {
    margin-top: $Theme-spacing-default;
    margin-left: 0;
  }
}

.List.List--partnerLogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  margin-top: -$Theme-spacing-default;
  margin-left: -$Theme-spacing-small;

  .List-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    margin-top: $Theme-spacing-default;
    margin-left: $Theme-spacing-small;
  }

  @include media('>=500px') {
    .List-item {
      width: 33%;
    }
  }

  @include media('>=650px') {
    .List-item {
      width: 25%;
    }
  }

  @include media('>=1024px') {
    .List-item {
      width: 20%;
    }
  }
}

.List.List--stacked.List--centered {
  align-items: center;
}

.List.List--small {
  .List-item + .List-item {
    margin-left: $Theme-spacing-small;
  }

  &.List--stacked {
    .List-item + .List-item {
      margin-top: $Theme-spacing-small;
      margin-left: 0;
    }
  }
}
