// List
//
// Stacks items. In row or column directions
//
// default - Row direction
// .List--stacked - Column direction
// .List--stacked.List--centered - Column direction and content is centered
// .List--small - Smaller margins
// .List--partnerLogos - Stacked in mobile and horizontal in desktop; Aligns vertically its items to the bottom
//
// markup:
// <div class="List {$modifiers}">
//   <div class="List-item">Lorem Ipsum</div>
//   <div class="List-item">is simply dummy</div>
// </div>
//
// Styleguide 1.13

@import '../reset';
@import '../theme_vars';

.List {
  display: flex;
  width: 100%;
}

.List-item {
  display: flex;
  align-items: center;

  margin: 0;
}

.List-item + .List-item {
  margin-left: $Theme-spacing-default;
}

.List.List--stacked {
  flex-direction: column;

  .List-item + .List-item {
    margin-top: $Theme-spacing-default;
    margin-left: 0;
  }
}

.List.List--partnerLogos {
  flex-direction: column;
  align-items: center;

  .List-item {
    align-items: flex-end;
  }

  .List-item + .List-item {
    margin-top: $Theme-spacing-small;
    margin-left: 0;
  }

  @include media(">=tablet") {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    .List-item + .List-item {
      margin-top: 0;
      margin-left: $Theme-spacing-default;
    }
  }
}

.List.List--stacked.List--centered {
  align-items: center;
}

.List.List--small {
  .List-item + .List-item {
    margin-left: $Theme-spacing-small;
  }

  &.List--stacked {
    .List-item + .List-item {
      margin-top: $Theme-spacing-small;
    }
  }
}
