$Logo-width: 150px
$Logo-width-footer: 97px
$Logo-width-nav: 50px

.Logo
  width: $Logo-width

.Logo.Logo--nav
  width: $Logo-width-nav
  vertical-align: bottom

.Logo.Logo--footer
  width: $Logo-width-footer
