// RatioEnforcer
//
// Forces the image to adapt to its container's dimensions but maintaing its natural ratio.
//
// default - Natural growth
// .RatioEnforcer--diamondStats - Custom ratio for diamondStats image
// .RatioEnforcer--batmanRobin - Custom ratios for batmanRobin image
//
// markup:
// <img src="img.png" class="RatioEnforcer {$modifiers}">
//
// Styleguide 2.13

@import '../reset';
@import '../theme_vars';

.RatioEnforcer {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.RatioEnforcer.RatioEnforcer--diamondStats {
  max-width: 319px; // value extracted from the actual SVG source
}

.RatioEnforcer.RatioEnforcer--genLogo {
  max-width: 148px;
}

.RatioEnforcer.RatioEnforcer--sageLogo {
  max-width: 115px;
}

.RatioEnforcer.RatioEnforcer--topdocsLogo {
  max-width: 137px;
}

.RatioEnforcer.RatioEnforcer--wiremazeLogo {
  max-width: 182px;
}

.RatioEnforcer.RatioEnforcer--canalSuperiorLogo {
  max-width: 85px;
  min-width: 85px;
}

.RatioEnforcer.RatioEnforcer--portoIOLogo {
  max-width: 116px;
  min-width: 116px;
}

.RatioEnforcer.RatioEnforcer--stukIOLogo {
  max-width: 103px;
  min-width: 103px;
}

.RatioEnforcer.RatioEnforcer--landingJobsLogo {
  max-width: 171px;
  min-width: 171px;
}

.RatioEnforcer--blipLogo {
  max-width: 98.35px;
}

.RatioEnforcer--ineoLogo {
  max-width: 70.15px;
}

.RatioEnforcer.RatioEnforcer--batmanRobin {
  max-width: 281px; // value extracted from the actual SVG source

  @include media(">=tablet") {
    max-width: 421px; // value extracted from the actual SVG source
  }
}
