// RibbonSeparator
//
// Adjusts the margin between to the surrounding content
//
// default - Arrow is facing up
// .RibbonSeparator--inverted - Arrow is facing down
//
// markup:
// <div class="RibbonSeparator"></div>
//
// Styleguide 1.12

@import '../reset';
@import '../theme_vars';

.RibbonSeparator {
  margin-bottom: $Theme-spacing-default;

  @include media(">=600px") {
    margin-bottom: 0;
  }

  @include media(">=1024px") {
    margin-bottom: -5%;
  }

  @include media(">=1280px") {
    margin-bottom: -7%;
  }
}

.RibbonSeparator.RibbonSeparator--inverted {
  margin-top: $Theme-spacing-default;
  margin-bottom: 0;

  @include media(">=600px") {
    margin-top: 0;
    margin-bottom: 0;
  }

  @include media(">=1024px") {
    margin-top: -5%;
    margin-bottom: 0;
  }

  @include media(">=1280px") {
    margin-top: -7%;
    margin-bottom: 0;
  }
}
