$Scene-height: 85rem

.Scene
  width: 100%
  min-height: $Scene-height
  background-image: url(../img/header.svg)
  background-size: cover
  background-position: bottom
  background-repeat: no-repeat
  background-position: center
  background-color: #ccedf2
