// Stripe
//
// Full width container with a unique background
//
// default - Default Stripe
// .Stripe--orange - Orange stripe
// .Stripe--green - Orange stripe
// .Stripe--mobileOnly - Is only displayed on mobile resolutions
//
// markup:
// <div class="Stripe {$modifiers}"></div>
//
// Styleguide 1.11

@import '../reset';
@import '../theme_vars';

.Stripe {
  display: flex;
  align-items: center;
  padding: $Theme-spacing-default 0; // not sure if applicable in all the cases
  overflow: hidden;
}

.Stripe.Stripe--orange {
  background-color: $Theme-color-tango;

  @include diagonal-background(320px, 30px, $Theme-color-white, true);
}

.Stripe.Stripe--green {
  padding: $Theme-spacing-default 0 0;
  background-color: $Theme-color-malachite;

  @include diagonal-background(320px, 30px, $Theme-color-white);

  @include media(">=tablet") {
    padding: $Theme-spacing-large 0 0;
    @include diagonal-background(1440px, 500px, $Theme-color-white, true, top);
    @include diagonal-background(1440px, 300px, $Theme-color-white, false, bottom);
  }
}

.Stripe.Stripe--blue {
  background-color: $Theme-color-pictonBlue;

  @include diagonal-background(320px, 30px, $Theme-color-white, true);

  @include media(">=tablet") {
    @include diagonal-background(1440px, 500px, $Theme-color-white, true, top);
    @include diagonal-background(1440px, 300px, $Theme-color-white, false, bottom);
  }
}

.Stripe.Stripe--yellow {
  background-color: $Theme-color-ripeLemon;

  @include diagonal-background(320px, 30px, $Theme-color-white);

  @include media(">=tablet") {
    @include diagonal-background(1440px, 500px, $Theme-color-white, false, top);
    @include diagonal-background(1440px, 300px, $Theme-color-white, true, bottom);
  }
}

@include media(">=tablet") {
  .Stripe {
    padding: $Theme-spacing-large 0;
  }

  .Stripe.Stripe--mobileOnly {
    display: none;
  }
}
