<section>
  <div class="Layout">
    <div class="Container Container--twoColumn">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--centerThenAlignLeft">
          <p class="Text Text--large">
            Em Portugal, até 2020, serão necessários pelo menos 15 mil programadores. Este é o momento para mudares o teu futuro e preparares-te para o sucesso.
          </p>
        </div>
      </div>
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--centerThenAlignLeft">
          <div class="Quote">
            <div class="Quote-content">
              “Saber programar é o mais próximo que temos de um super-poder.”
            </div>
            <hr class="Separator">
            <div class="Quote-author">
              DREW HOUSTON
            </div>
            <div class="Quote-description">
              founder of <strong class="Quote-highlight">Dropbox</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Layout-defaultThenLargeMargin"></div>
    <div class="Container">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--center">
          <p class="Heading Heading--small">
            ESTA É A OPORTUNIDADE QUE ESTAVAS À ESPERA!
          </p>
        </div>
        <div class="Layout-smallMargin"></div>
        <a class="ButtonPrimary" href="{{ site.data.links.registration }}">Aprende a programar</a>
      </div>
    </div>
  </div>
</section>
