<section>
  <div class="Layout">
    {% comment %}
    <object type="image/svg+xml" data="/img/green-blue-arrow.svg" class="RibbonSeparator RibbonSeparator--inverted"></object>
    {% endcomment %}
    <div class="Anchor" id="faq"></div>
    <div class="Layout-defaultThenLargeMargin"></div>
    <div class="Container">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--alignLeftThenCenter">
          <p class="Heading">
            PERGUNTAS MAIS FREQUENTES
          </p>
        </div>
      </div>
    </div>
    <div class="Layout-smallThenDefaultMargin"></div>
    <div class="Container Container--twoColumn">
      <div class="Container-column">
        <h3 class="Heading Heading--small">
          O QUE É A CREATORS SCHOOL?
        </h3>
        <p class="Text">
          A Creators School é uma oportunidade de aprendizagem intensiva para quem quer aprender a programar para a Web e desenvolver competências para lidar com a economia digital.
          <br>
          O nosso objetivo é requalificar pessoas e abrir portas a novas oportunidades nas suas carreiras.
        </p>
        <div class="Layout-smallMargin"></div>
        <h3 class="Heading Heading--small">
          QUE PERFIS PROCURAM?
        </h3>
        <p class="Text">
          Procuramos os curiosos, os ambiciosos, aqueles que não sabem o que é desistir. Acreditamos que qualquer pessoa consegue aprender a programar e, por isso, aceitamos estudantes, recém-licenciados, desempregados, profissionais e empreendedores, independentemente da idade ou do background académico.
        </p>
        <div class="Layout-smallMargin"></div>
        <h3 class="Heading Heading--small">
          JÁ TENHO BACKGROUND EM CIÊNCIAS DA COMPUTAÇÃO. A CREATORS SCHOOL VAI SER DESAFIANTE PARA MIM?
        </h3>
        <p class="Text">
          Sim! O nosso currículo combinado com a nossa metodologia permite-nos ter alunos com diferentes níveis de conhecimento. Os objetivos são desenhados à tua medida, porque todos aprendemos a um ritmo diferente, e serás desafiado diariamente.
        </p>
        <div class="Layout-smallMargin"></div>
        <h3 class="Heading Heading--small">
          ONDE SERÃO AS AULAS?
        </h3>
        <div class="Layout-smallMargin"></div>
        <p class="Text">
          As aulas serão no UP! Unidade Empresarial de Paranhos, Rua do Tmega, 4200-502 Porto.
        </p>
      </div>
      <div class="Container-column">
        <h3 class="Heading Heading--small">
          QUAIS SÃO AS MINHAS OPÇÕES DE PAGAMENTO?
        </h3>
        <p class="Text">
          O valor total do curso é 2460€ (IVA incluído). Caso pagues a totalidade até 12 de Junho terás um desconto de 15% (2100€ com IVA incluído). Também tens a opção das prestações em que: 500€ devem ser pagos até 12 de Junho; 500€ até 17 de Julho e; 1460€ em 6 prestações mensais após assinar contrato de trabalho.
        </p>
        <div class="Layout-smallMargin"></div>
        <h3 class="Heading Heading--small">
          COMO É O PROCESSO DE INSCRIÇÃO?
        </h3>
        <p class="Text">
        Depois de submeteres os teus dados no <a target="_blank" class="Link Link--text" href="{{ site.data.links.registration }}">formulário</a>, serás contactado para uma conversa para te explicarmos melhor o funcionamento da Creators School, este é um momento em que podes esclarecer todas as tuas dúvidas. Depois, segue-se a entrevista para te conhecermos melhor. O próximo passo é a decisão da tua aprovação e a partir daí a tua aventura na Creators School começa.
        </p>
        <div class="Layout-smallMargin"></div>
        <h3 class="Heading Heading--small">
          CONSIGO REALMENTE APRENDER A PROGRAMAR EM 9 SEMANAS?
        </h3>
        <p class="Text">
          Consegues sim. Não te conseguimos transformar num expert da programação e este também não é o objetivo. Na Creators School queremos dar-te as bases para que te tornes um candidato forte para integrar uma posição júnior numa startup ou numa empresa tecnológica e que continues a aprender. Independentemente das linguagens e frameworks que abordamos, queremos que no fim penses como um programador profissional.
        </p>
      </div>
    </div>
    <div class="Layout-defaultThenLargeMargin"></div>
    <div class="Container">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--center">
          <p class="Heading Heading--small">
            AINDA TENS DÚVIDAS OU PERGUNTAS<br>QUE QUEIRAS FAZER?
          </p>
        </div>
        <div class="Layout-smallMargin"></div>
        <a class="ButtonPrimary" target="_blank" href="{{ site.data.links.registration }}">Fala connosco</a>
      </div>
    </div>
    <div class="Layout-defaultThenLargeMargin"></div>
  </div>
</section>

