<footer class="Footer">
  <div class="Footer-actions">
    <div class="Footer-logo">
      <object type="image/svg+xml" data="/img/logo.svg"></object>
    </div>
    <div class="Footer-nav">
      <div class="Footer-navLinkGroup">
        <div class="Footer-navItem">
          <a href="#" class="Link Link--inverted">
            PORQUÊ APRENDER A PROGRAMAR
          </a>
        </div>
        <div class="Footer-navItem">
          <a href="#" class="Link Link--inverted">
            COMO VOU APRENDER
          </a>
        </div>
        <div class="Footer-navItem">
          <a href="#" class="Link Link--inverted">
            O QUE VOU APRENDER
          </a>
        </div>
      </div>
      <div class="Footer-navItem">
        <a href="#" class="ButtonPrimary ButtonPrimary--versionThree">
          Inscreve-te já
        </a>
      </div>
      <div class="Footer-navItem">
        <a href="#" class="ButtonPrimary ButtonPrimary--versionFour">
          Quero ser parceiro
        </a>
      </div>
    </div>
  </div>
  <div class="Footer-contacts">
    <span class="Footer-heading">
      <span class="Footer-highlighted">Contactos</span>
    </span>
    <span class="Footer-text">
      +351 914 676 907
    </span>
    <span class="Footer-text">
      hello@creatorsschool.com
    </span>
    <div class="Footer-by">
      <span class="Footer-heading">
        HANDCRAFTED BY <span class="Footer-highlighted">SUBVISUAL</span>
      </span>
    </div>
  </div>
</footer>
