<footer class="Footer">
  <div class="Footer-actions">
    <div class="Footer-logo">
      <object class="Logo Logo--small" type="image/svg+xml" data="/img/logo.svg"></object>
    </div>
    <div class="Footer-nav">
      <div class="Footer-navLinkGroup">
        <div class="Footer-navItem">
          <a href="#why" class="Link Link--inverted">
            PORQUÊ APRENDER A PROGRAMAR
          </a>
        </div>
        <div class="Footer-navItem">
          <a href="#how" class="Link Link--inverted">
            COMO VOU APRENDER
          </a>
        </div>
        <div class="Footer-navItem">
          <a href="#what" class="Link Link--inverted">
            O QUE VOU APRENDER
          </a>
        </div>
      </div>
      <div class="Footer-navItem">
        <a href="{{ site.data.links.registration }}" class="ButtonPrimary ButtonPrimary--versionThree">
          Inscreve-te já
        </a>
      </div>
      <div class="Footer-navItem">
        <a href="{{ site.data.links.partnership }}" class="ButtonPrimary ButtonPrimary--versionFour">
          Quero ser parceiro
        </a>
      </div>
    </div>
  </div>
  <div class="Footer-contacts">
    <span class="Footer-heading">
      <span class="Footer-highlighted">Contactos</span>
    </span>
    <span class="Footer-text">
      {{ site.data.links.phone }}
    </span>
    <span class="Footer-text">
      <a class="Link Link--text Link--lowercase" href="{{ site.data.links.email_link }}">
        {{ site.data.links.email }}
      </a>
    </span>
    <div class="Footer-by">
      <span class="Footer-heading">
        HANDCRAFTED BY <span class="Footer-highlighted"><a class="Link Link--text" href="{{ site.data.links.groupbuddies }}">Group Buddies</a></span>
      </span>
    </div>
  </div>
</footer>
