<section class="Stripe Stripe--green">
  <div class="Layout Layout--pairs">
    <div class="Container Container--twoColumn Container--swapOnDesktop">
      <div class="Container-column">
        <div class="Layout-text"></div>
        <p class="Text Text--large Text--inverted">
          Toda a gente precisa de ajuda. Por isso, na Creators School, trabalhamos em pares.
        </p>
        <div class="Layout-smallMargin"></div>
        <p class="Text Text--inverted">
          Um super-herói deve ser capaz de lidar com todo o tipo de dificuldades e obstáculos, mas nem sempre o consegue fazer sozinho. Por isso, para além de trabalhares sempre em pares, contarás sempre com o apoio indispensável dos mentores para te ajudar nos momentos mais difíceis.
        </p>
      </div>
      <div class="Container-column">
        <div class="Layout-image">
          <object type="image/svg+xml" data="/img/batman_robin_full.svg" class="RatioEnforcer RatioEnforcer--batmanRobin"></object>
        </div>
      </div>
    </div>
  </div>
</section>
