<section>
  <div class="Layout">
    <div class="Layout-defaultMargin"></div>
    <div class="Container">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--alignLeftThenCenter">
          <h2 class="Heading">
            UMA OPORTUNIDADE ÚNICA
          </h2>
        </div>
      </div>
    </div>
    <div class="Layout-smallThenDefaultMargin"></div>
    <div class="Container Container--verticallyCentered">
      <div class="Container-column">
        <div class="ContentFormatter">
          <h3 class="Heading Heading--small">
            VAIS TER AS MELHORES EMPRESAS AO TEU LADO
          </h3>
          <div class="Layout-smallMargin"></div>
          <p class="Text">
            Desde o teu CV e perfil online até à tua postura em entrevistas, vamos ajudar-te a desenvolver a forma como te apresentas ao mercado de trabalho e garantir que há um lugar para ti nas melhores empresas da indústria.
          </p>
        </div>
      </div>
      <!-- <div class="Container-column"> -->
      <!--   <ul class="List"> -->
      <!--     <li class="List-item"> -->
      <!--       <img src="/img/partners/subvisual-logo.png" class="RatioEnforcer RatioEnforcer--subvisualLogo"> -->
      <!--     </li> -->
      <!--     <li class="List-item"> -->
      <!--       <img src="/img/partners/blip-logo.png" class="RatioEnforcer RatioEnforcer--blipLogo"> -->
      <!--     </li> -->
      <!--     <li class="List-item"> -->
      <!--       <img src="/img/partners/other-logo.png" class="RatioEnforcer RatioEnforcer--otherLogo"> -->
      <!--     </li> -->
      <!--   </ul> -->
      <!-- </div> -->
    </div>
    <div class="Layout-defaultMargin"></div>
  </div>
</section>
<section class="Stripe Stripe--yellow">
  <div class="Layout">
    <div class="Layout-noneThenDefaultMargin"></div>
    <div class="Container Container--verticallyCentered">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--center">
          <p class="Heading Heading--small">
          A SUA EMPRESA QUER FAZER PARTE DA<br>CREATORS SCHOOL?
          </p>
        </div>
        <div class="Layout-smallMargin"></div>
        <a class="ButtonPrimary ButtonPrimary--versionTwo" target="_blank" href="{{ site.data.links.partnership }}">Quero ser parceiro</a>
      </div>
    </div>
    <div class="Layout-noneThenDefaultMargin"></div>
  </div>
</section>
