<section>
  <div class="Layout">
    <div class="Layout-defaultMargin"></div>
    <div class="Container">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--alignLeftThenCenter">
          <h2 class="Heading">
            Uma oportunidade única
          </h2>
        </div>
      </div>
    </div>
    <div class="Layout-smallThenDefaultMargin"></div>
    <div class="Container Container--twoColumn">
      <div class="Container-column">
        <h3 class="Heading Heading--small">
          Vais ter as melhores empresas ao teu lado
        </h3>
        <div class="Layout-smallMargin"></div>
        <p class="Text">
          Desde o teu CV e perfil online até à tua postura em entrevistas, vamos
          ajudar-te a desenvolver a forma como te apresentas.
        </p>
        <div class="Layout-smallMargin"></div>
        <ul class="List List--small">
          <li class="List-item">
            <ul class="List List--stacked List--centered List--small">
              <li class="List-item">
                <img src="/img/logos/gen.png" class="RatioEnforcer RatioEnforcer--genLogo">
              </li>
              <li class="List-item">
                <img src="/img/logos/topdocs.png" class="RatioEnforcer RatioEnforcer--topdocsLogo">
              </li>
            </ul>
          </li>
          <li class="List-item">
            <ul class="List List--stacked List--centered List--small">
              <li class="List-item">
                <img src="/img/logos/wiremaze.png" class="RatioEnforcer RatioEnforcer--wiremazeLogo">
              </li>
              <li class="List-item">
                <img src="/img/logos/sage.jpg" class="RatioEnforcer RatioEnforcer--sageLogo">
              </li>
            </ul>
          </li>
        </ul>
        <div class="Layout-smallThenDefaultMargin"></div>
        <p class="Text Text--highlight">
          Garantimos a tua entrada no mercado de trabalho.
        </p>
      </div>
      <div class="Container-column">
        <h3 class="Heading Heading--small">
          Opções de pagamento
        </h3>
        <div class="Layout-smallMargin"></div>
        <p class="Text">
          O valor total do curso é 2460€ (IVA incluído). Caso pagues a
          totalidade até 12 de Junho terás um desconto de 15% (2100€ com IVA
          incluído). Também tens a opção das prestações na qual: 500€ devem ser
          pagos até 12 de Junho, 500€ até 17 de Julho e 1460€ em 6 prestações
          mensais após assinar contrato de trabalho. Na hipótese remota de não
          conseguires um contrato de trabalho devolvemos-te todo o teu dinheiro.
        </p>
      </div>
    </div>
    <div class="Layout-defaultThenLargeMargin"></div>
    <div class="Container">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--alignLeftThenCenter">
          <h2 class="Heading">
            Os nossos parceiros de comunicação
          </h2>
          <div class="Layout-defaultMargin"></div>
        </div>
      </div>
    </div>
    <div class="Container Container--fullWidth">
      <div class="Container-column">
        <ul class="List List--partnerLogos">
          <li class="List-item">
            <img src="/img/logos/portoio.png" class="RatioEnforcer RatioEnforcer--portoIOLogo">
          </li>
          <li class="List-item">
            <img src="/img/logos/canal_superior.png" class="RatioEnforcer RatioEnforcer--canalSuperiorLogo">
          </li>
          <li class="List-item">
            <img src="/img/logos/stukio.png" class="RatioEnforcer RatioEnforcer--stukIOLogo">
          </li>
          <li class="List-item">
            <img src="/img/logos/landing_jobs.png" class="RatioEnforcer RatioEnforcer--landingJobsLogo">
          </li>
        </ul>
      </div>
    </div>
    <div class="Layout-defaultMargin"></div>
  </div>
</section>
<section class="Stripe Stripe--yellow">
  <div class="Layout">
    <div class="Layout-smallThenDefaultMargin"></div>
    <div class="Container Container--verticallyCentered">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--center">
          <p class="Heading Heading--small">
          A sua empresa quer fazer parte da<br>creators school?
          </p>
        </div>
        <div class="Layout-smallMargin"></div>
        <a class="ButtonPrimary ButtonPrimary--versionTwo" target="_blank" href="{{ site.data.links.email_link }}">Quero ser parceiro</a>
      </div>
    </div>
    <div class="Layout-smallThenDefaultMargin"></div>
  </div>
</section>
