<section class="Stripe Stripe--blue">
  <div class="Layout">
    <div class="Layout-noneThenDefaultMargin"></div>
    <div class="Container Container--twoColumn Container--swapOnDesktop Container--verticallyCentered">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--centerThenAlignLeft">
          <p class="Heading Heading--small Heading--inverted">
            SER PRODUTIVO ENQUANTO TE DIVERTES NO AMBIENTE DE TRABALHO PARECE FANTASIA, MAS PARA UM PROGRAMADOR NÃO É.
          </p>
        </div>
        </p>
      </div>
      <div class="Container-column">
        <a class="ButtonPrimary ButtonPrimary--versionOne" href="#">Aprende a programar</a>
      </div>
    </div>
  </div>
</section>
