<section>
  <div class="Anchor" id="what"></div>
  <div class="Layout">
    <div class="Layout-defaultMargin"></div>
    <div class="Container">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--alignLeftThenCenter">
          <h2 class="Heading">
            O QUE VAIS APRENDER ?
          </h2>
        </div>
      </div>
    </div>
    <div class="Layout-smallThenDefaultMargin"></div>
    <div class="Container Container--twoColumn">
      <div class="Container-column">
        <h3 class="Heading Heading--small">
          A CREATORS SCHOOL AJUDA-TE A MUDAR O TEU FUTURO
        </h3>
        <div class="Layout-smallMargin"></div>
        <p class="Text">
          Vais adquirir conhecimentos que o mercado procura, tal como trabalhar com Ruby on Rails, uma das frameworks mais requisitadas no mercado, ou NodeJS, a framework em maior crescimento.
        </p>
        <div class="Layout-smallMargin"></div>
        <p class="Text">
          Vamos também passar-te conceitos basilares de Programação Orientada a Objectos e Programação Funcional. O objetivo é ficares com uma fundação sólida que te permita continuar a evoluir de forma sustentada.
        </p>
        <div class="Layout-smallMargin"></div>
        <p class="Text">
        Tudo isto isto aplicando metodologias de trabalho <span class="Text Text--emph">Agile</span> para que no fim, para além de conceitos como MVC e TDD fazerem sentido para ti, conseguires pensar e agir como um programador profissional.
        </p>
      </div>
      <div class="Container-column">
        <div class="Layout-desktopOnly">
          <ul class="List List--stacked">
            <li class="List-item">
              <div class="Skill">
                <div class="Skill-image">
                  <img src="/img/html_css.png" class="RatioEnforcer">
                </div>
                <span class="Skill-legend">HTML/CSS</span>
              </div>
            </li>
            <li class="List-item">
              <div class="Skill">
                <div class="Skill-image">
                  <img src="/img/rails.png" class="RatioEnforcer">
                </div>
                <span class="Skill-legend">Rails</span>
              </div>
            </li>
            <li class="List-item">
              <div class="Skill">
                <div class="Skill-image">
                  <img src="/img/node.png" class="RatioEnforcer">
                </div>
                <span class="Skill-legend">Node.js</span>
              </div>
            </li>
            <li class="List-item">
              <div class="Skill">
                <div class="Skill-image">
                  <img src="/img/agile.png" class="RatioEnforcer">
                </div>
                <span class="Skill-legend">Agile</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% comment %}
    <div class="Layout-defaultThenLargeMargin"></div>
    <div class="Container">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--alignLeftThenCenter">
          <h2 class="Heading">
            CUSTOS
          </h2>
        </div>
      </div>
    </div>
    <div class="Layout-smallThenDefaultMargin"></div>
    <div class="Container Container--twoColumn">
      <div class="Container-column">
        <h3 class="Heading Heading--small">
          PAGAMENTO EM PRESTAÇÕES
        </h3>
        <div class="Layout-smallMargin"></div>
        <p class="Text Text--veryLarge">
          2460€
        </p>
        <p class="Text Text--small">
          (IVA INCLUÍDO)
        </p>
        <div class="Layout-smallMargin"></div>
        <ul class="Bullets">
          <li class="Bullets-item">500€ até 12 de Junho;</li>
          <li class="Bullets-item">500€ até 17 de Julho;</li>
          <li class="Bullets-item">
            <span>1460€ em 6 prestações mensais.<br>
              <p class="Text Text--small">
                (APÓS ASSINATURA DE CONTRATO DE TRABALHO)
              </p></span>
          </li>
        </ul>
      </div>
      <div class="Container-column">
        <h3 class="Heading Heading--small">
          PAGAMENTO DA TOTALIDADE
        </h3>
        <div class="Layout-smallMargin"></div>
        <p class="Text Text--veryLarge">
          2100€
        </p>
        <p class="Text Text--small">
          (IVA INCLUÍDO)
        </p>
        <div class="Layout-smallMargin"></div>
        <p>
          15% de desconto até 12 de Junho.
        </p>
      </div>
    </div>
    {% endcomment %}
    <div class="Layout-smallThenDefaultMargin"></div>
  </div>
</section>
