<section class="Layout">
  <div class="Scene">
    <div class="Layout-defaultThenLargeMarginWithHeader"></div>
    <div class="Container">
      <div class="Container-largeColumn">
        <div class="ContentFormatter ContentFormatter--center">
          <p class="Heading Heading--large">
            Aprende a programar e torna-te um super-herói em 9 semanas
          </p>
          <div class="Layout-smallThenDefaultMargin"></div>
        </div>
        <div class="ContentFormatter ContentFormatter--center">
          <p class="Heading Heading--alternative"></p>
          <div class="Layout-smallThenDefaultMargin"></div>
        </div>
        <a class="ButtonPrimary" target="_blank" href="{{ site.data.links.registration }}">Contacta-nos</a>
      </div>
    </div>
  </div>
  <div class="Layout-defaultThenLargeMargin"></div>
</section>
