<section class="Layout">
  <div class="Scene">
    <div class="Layout-defaultThenLargeMargin"></div>
    <div class="Container Container--twoColumn">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--centerThenAlignRight">
          <object class="Logo" type="image/svg+xml" data="/img/logo.svg"></object>
        </div>
      </div>
      <div class="Container-column">
        <p class="Heading">
          Aprende a programar e torna-te um super-herói em 9 semanas
        </p>
        <div class="Layout-smallMargin"></div>
        <p>Na Creators School não importa de onde vens, importa para onde queres ir. Agarra esta oportunidade para mudares o teu futuro.</p>
        <div class="Layout-smallMargin"></div>
        <div class="ContentFormatter">
          <a class="ButtonPrimary" href="{{ site.data.links.registration }}">Inscreve-te já</a>
        </div>
      </div>
    </div>
  </div>
  <div class="Layout-defaultThenLargeMargin"></div>
</section>
