<section>
  <div class="Layout">
    <div class="Layout-defaultThenLargeMargin"></div>
    <object type="image/svg+xml" data="/img/yellow-orange-arrow.svg" class="RibbonSeparator"></object>
    <div class="Container">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--alignLeftThenCenter">
          <p class="Heading">
            COMO É O DIA-A-DIA DE UM PROGRAMADOR?
          </p>
        </div>
      </div>
    </div>
    <div class="Layout-smallThenDefaultMargin"></div>
    <div class="Container Container--twoColumn">
      <div class="Container-column">
        <h3 class="Heading Heading--small">
          AMBIENTE DESCONTRAÍDO E INFORMAL
        </h3>
        <div class="Layout-smallMargin"></div>
        <p class="Text">
          Muitas pessoas apressam-se a imaginar que os programadores se juntam em caves escuras a olhar para um ecrã durante todo dia, o que não podia estar mais longe da realidade. O ambiente de trabalho comum nas empresas tecnológicas é bastante informal e descontraído.
        </p>
      </div>
      <div class="Container-column">
        <h3 class="Heading Heading--small">
          TRABALHAR EM EQUIPA E EVOLUIR TODOS OS DIAS
        </h3>
        <div class="Layout-smallMargin"></div>
        <p class="Text">
          Os programadores trabalham em equipa, em ambientes informais e descontraídos, sendo incentivados a crescer e evoluir na sua profissão através de orçamentos para conferências, workshops e aprendizagem diária com os colegas.
        </p>
      </div>
    </div>
    <div class="Layout-defaultMargin"></div>
  </div>
</section>
<section class="Stripe Stripe--orange Stripe--mobileOnly">
  <div class="Layout">
    <div class="Layout-smallMargin"></div>
    <div class="Container">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--center">
          <p class="Heading Heading--small Heading--inverted">
            EM APENAS 9 SEMANAS VAIS CONSEGUIR MUDAR O TEU FUTURO.
          </p>
        </div>
        <div class="Layout-smallMargin"></div>
        <a class="ButtonPrimary ButtonPrimary--versionOne" href="#">Inscreve-te já</a>
      </div>
    </div>
    <div class="Layout-smallMargin"></div>
  </div>
</section>
<section>
  <div class="Anchor" id="how"></div>
  <div class="Layout">
    <div class="Layout-defaultMargin"></div>
    <div class="Container">
      <div class="Container-column">
        <div class="ContentFormatter ContentFormatter--alignLeftThenCenter">
          <p class="Heading">
            COMO VAIS APRENDER A PROGRAMAR?
          </p>
        </div>
      </div>
    </div>
    <div class="Layout-smallThenDefaultMargin"></div>
    <div class="Container Container--twoColumn Container--swapOnDesktop">
      <div class="Container-column">
        <h3 class="Heading Heading--small">
          APRENDER COM AS MÃOS NA MASSA
        </h3>
        <div class="Layout-smallMargin"></div>
        <p class="Text">
          Na Creators School acreditamos que só se aprende verdadeiramente a fazer, fazendo. Partindo desse princípio, desenhamos um programa essencialmente prático, de grande exigência mas altamente recompensador.
        </p>
      </div>
      <div class="Container-column">
        <object type="image/svg+xml" data="/img/diamond-stats.svg" class="RatioEnforcer RatioEnforcer--diamondStats"></object>
      </div>
    </div>
    <div class="Layout-defaultMargin"></div>
  </div>
</section>
