<nav class="Nav" id="Nav">
  <a href="/" class="Link Link--text Link--noUnderline">
    <span class="Nav-logo">
      <img class="Logo Logo--nav" src="/img/logo-navbar.svg">
      <div class="Nav-title"><span class="Nav-strongTitle">CREATORS</span> SCHOOL</div>
    </span>
  </a>
  <div class="Nav-mobileBurger">
    <span id="OpenMenuLabel" class="VisuallyHidden">Open Menu</span>
    <a href="/" class="BurgerBtn" id="BurgerBtn" aria-controls="Nav-menu" aria-haspopup="true" aria-labelledby="OpenMenuLabel">
      <div class="BurgerBtn-line"></div>
      <div class="BurgerBtn-line"></div>
      <div class="BurgerBtn-line"></div>
    </a>
  </div>
  <div class="Nav-menu" id="Nav-menu">
    <ul class="MenuItems">
      <li class="MenuItems-item"><a href="#why" class="Link Link--text Link--nav">Porquê Programar</a></li>
      <li class="MenuItems-item"><a href="#how" class="Link Link--text Link--nav">Como vou Aprender</a></li>
      <li class="MenuItems-item"><a href="#faq" class="Link Link--text Link--nav">FAQ</a></li>
      {% comment %}
      <li class="MenuItems-item"><a href="#what" class="Link Link--text Link--nav">Parceiros</a></li>
      <li class="MenuItems-item"><a href="#who" class="Link Link--text Link--nav">Mentores</a></li>
      {% endcomment %}
    </ul>
  </div>
</nav>
